@model PagedList.IPagedList<MvcMusicStore.Models.Album>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Albums";
}

@Styles.Render("~/Content/PagedList.css")

<h2>Albums</h2>

<p>
    @Html.ActionLink("Create new genre", "CreateGenre") &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Create new artist", "CreateArtist") &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Create new album", "Create")
</p>
<div class="AlbumList">
    <table>
        <tr>
            <th>
                Genre
            </th>
            <th>
                Artist
            </th>
            <th>
                Title
            </th>
            <th>
               Price
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.AlbumId }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })
                    @*@Ajax.ActionLink("Delete", "Delete", new { id = item.AlbumId }, new AjaxOptions
                                                                                   {
                                                                                       Confirm = "Are you sure you want to delete this item?",
                                                                                       HttpMethod = "GET",
                                                                                       InsertionMode = InsertionMode.Replace,
                                                                                       LoadingElementId = "AlbumList"
                                                                                   })*@
                </td>
            </tr>
        }
    </table>   
    <br/>
    <div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount albums
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
    </div>
</div>